DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gestion_pymes_db
SECRET_KEY=cambia_esto_por_una_clave_secreta_larga
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
SUPERADMIN_EMAIL=admin@tuplataforma.com
